
*{
    padding: 0;
    margin: 0;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
 
}

.body{
    background: url("./img/bg.jpg"); 
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox{
    position: absolute;
    top: 9px;
    right: 170px;
    font-size: 39px;
    font-weight: bold;

}

#hiscoreBox{
    position: absolute;
    top: 59px;
    right: 140px;
    font-size: 39px;
    font-weight: bold;

}

#board{
    background: linear-gradient(rgb(130, 255, 136), rgb(213, 255, 117));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(25, 1fr);
    grid-template-columns: repeat(25, 1fr);

}

.head{
    background: linear-gradient(rgb(255, 101, 5), rgb(255, 255, 66));
    border: 2px solid rgb(50, 9, 50); 
    transform: scale(1.02);
    border-radius: 9px;
}


.snake{
    background-color: rgb(119, 182, 255);
    border: .15vmin solid rgb(255, 255, 255);
    border-radius: 20%;
}

.food{
    background: linear-gradient(red, purple);
    border: .25vmin solid black;
    border-radius: 50%;
    animation: blinker-two 1.4s linear infinite;

}
.food {
        animation: blinker 1s linear infinite;
    }

  @keyframes food {
    100% {
      opacity: 0;
    }

}
@keyframes blinker {
        50% {
          opacity: 0;
        }
    }

.music{
    background-color: rgb(109, 136, 10);
    height: 170px;
    width: 170px;
    position: absolute;
    top: 40px;
    left: 50px;
}
.music h4{
 position: absolute;
 top: 25px;
 left: 52px;
 text-align: center;
}
.bgC-PPB{
    background-color: white;
    position: absolute;
    top: 85px;
	left: 60px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}
.play-pause-line{
	height:25px;
	width: 25px;
	position: absolute;
	top: 95px;
	left: 76px;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 51;
}
.container input[type="checkbox"]{
	height: 40px;
	width: 36px;
	position: absolute;
	top: 88px;
	left: 65px;
	z-index: 522;
	opacity: 0;
    /* display: none; */
	cursor: pointer;
}
.play-pause-line .line{
	height: 3px;
	width: 26px;
	display: block;
	background-color: rgb(0, 0, 0);
}


.play-pause-line .line1{
	transform-origin: 0% 0%;
    transform: rotate(30deg);
	transition: all 0.4s ease-in-out;
    border-radius: 0px 20px 14px 0px;
    width: 23px;
 }
 .play-pause-line .line2{

    transform-origin: 0% 100%;
    transition: all 0.4s ease-out;
    transform: translatey(11px) rotate(271deg);
    width: 25px;
    border-radius: 5px 6px 7px 3px;
 }
.play-pause-line .line3{
	transform-origin: 0% 100%;
	transition: all 0.4s ease-in-out;
    transform: rotate(330deg);
    border-radius: 11px 9px 13px 0px;
    width: 23px;
}
.container input[type="checkbox"]:checked ~ .play-pause-line .line1{
	transform: rotate(45deg);
    opacity: 0;
}
.container input[type="checkbox"]:checked ~ .play-pause-line .line2{
    border-radius: 5px;
    width: 22px;
}
.container input[type="checkbox"]:checked ~ .play-pause-line .line3{
    transform-origin: 33% -152%;
    transform: rotate(271deg);
    border-radius: 5px;
    width: 22px;
}
.con-buttons{
    position: absolute;
    top: 390px;
    left: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    height: 130px;
    max-width: 180px;
    align-content: space-around;
}

.con-buttons button{
    height: 50px;
    width: 49px;
    background-color: white;
    border: 2px solid #000000;
    border-radius: 10px;
}
.con-buttons button.up{
    height: 50px;
    width: 150px;
}

@media (max-width: 500px){
    
    .music{
        height: 70px;
        width: 170px;
        top: 20px;
        left: 10px;
    }
    
    #scoreBox{
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        font-weight: bold;
    
    }
    
    #hiscoreBox{
        position: absolute;
        top: 40px;
        right: 10px;
        font-size: 20px;
        font-weight: bold;
    
    }
    .music h4{
        position: absolute;
        top: 20px;
        left: 10px;
       }
     .bgC-PPB{
        top: 13px;
        left: 90px;
    }
    .play-pause-line{
        top: 23px;
        left: 107px;
    }
    .container input[type="checkbox"]{
        position: absolute;
        top: 15px;
        left: 95px;
    }       
    .con-buttons{
        top: 617px;
        left: 100px;
    }
}